@import "./Inputs.scss";
@import "./Button.scss";
@import "./Variaveis.scss";
@import "./Normalize.scss";
@import "./Reset.scss";
@import "./icons.scss";
@import "./jsEvents.scss";
@import "./OutrasF.scss";

/*  Login  */
*{
  font-family: 'Helvética', sans-serif;
}
body {
  overflow-y: hidden;
  background: $background-gradient;
}

.pip-login_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .pip-div_logo{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding:0rem 0rem 1.5rem 0rem;
  }

  .pip-span_logo, .pip-h1_logo{
color: $font-textcolor;
font-family: $font-padrao;
  }
.pip-h1_logo{
  font-size: 2rem;
}
.pip-span_logo{
  opacity: 40%;
}
   .pip-img_logo{
width: 180px;
  }
  
  .pip-form_container{
    display: flex;
    flex-direction: column;
    padding: 4.3rem;
    background-color:$form-bgcolor;
    border-radius: 10px 0px 0px 10px;
  }

  /* Nova Conta */
.pip-div_NConta{
    display: inline-flex;
    justify-content: center;
    font-family: 'Helvética', sans-serif;
    font-weight: 400;
    margin: 1rem 0rem;
}

.pip-span_NConta{
  color: $font-linkcolor;
  font-size: 16px;
}

.pip-span_NConta:hover{
  color: #ed9595;
}

.pip-div_inImg{
  background-color: #280b377a;
  height: 664.94px;
  display: flex;
  justify-content: center;
  border-radius: 0px 10px 10px 0px;
}

.pip-img_inImg{
  width: 70%;
}