    /* Variaveis */
    $backgroun-gradient: linear-gradient(180deg, #BD1433 0%, #570D34 64.58%, #280B37 100%);
    $form-bgcolor:#240B35;
    $font-textcolor:white;
    $bgbutton: #BD1634;
    $bgshadow:0 4px 15px 0 #4949FF;
    $font-linkcolor:#ffffff;
    $font-padrao: 'Helvética', sans-serif;
    $color-label:#ffffff;

    /* Media Query  */