/* Icons */
.icons{
    width: 20px;
  }

  /* Ver Senha  */
.pip-span_eyeSenha {
    display: flex;
    cursor: pointer;
    align-self: center;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  
  .pip-img_eyeSenha {
    width: 20px;
    opacity: 40%;
  }