@import "./Variaveis.scss";
/* Login inp Format */
.pip-div_login {
  padding-bottom: .7rem;
  width: calc(10vh + 13rem); 
  /* min 480px */
  @media only screen and(max-width: $min){width:calc(10vh + 10rem);}
}

.pip-label_login {
  padding-bottom: .7rem;
  font-weight: 600;
  font-size: 15px;
}

.pip-div__login {
  display: flex;
  position: relative;
  max-width: inherit;
  height: 2.5rem;
  background-color: rgb(255, 255, 255);
  margin-top: .3rem;
  border: 1px solid rgb(211 211 211);
  border-radius: 3px;
          /* min 480px */
          @media only screen and(max-width: $min){height: 2.3rem;}
}

.pip-div__login:hover {
  box-shadow: 0px 1px 2px rgba(172, 172, 172, 0.75);
}

.pip-div__login::placeholder {
  opacity: 0%;
}

.pip-inp_login + .pip-span__login {
  position: absolute;
  top: 11px;
  left: 2.5rem;
  font-size: 14px;
  font-weight: 400;
  background-color: white;
  color: #797575;
  transition: all ease-out 0.2s;
}

.pip-inp_login:focus + .pip-span__login,
.pip-inp_login:not(:placeholder-shown) + .pip-span__login {
  position: absolute;
  font-weight: 600;
  font-size: 15px;
  color: $font-color;
  top: -9px;
  left: 2rem;
  transition: all ease-out 0.2s;
}

.pip-inp_login::placeholder {
  opacity: 0%;
}

input[type="text"],input[type="email"]{
  width: 84%;
}

.pip-inp_login{
  display: flex;
    border: none;
    width: 75%;
    height: 67%;
    font-weight: 400;
    font-size: 14px;
    align-self: center;
    background-color: rgb(255, 255, 255);
        /* min 480px */
        @media only screen and(max-width: $min){font-size: 12px;}
}

.pip-div__login:hover {
  box-shadow: 0px 1px 2px rgba(172, 172, 172, 0.75);
}

.pip-span_login {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

/* CheckBox */
.pip-div_Checkbox {
  width: 100%;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 0.1rem 0rem 0.7rem 0rem;
}

.pip-span_Checkbox {
  padding-left: 0.3rem;
}

.pip-label_Checkbox {
  display: flex;
}


.pip-inp_Checkbox {
  background-color: gray;
  border-radius: 2px;
  width: 0.9rem;
  height: 0.9rem;
}

/* Date  */
.pip-div_Date {
  margin-bottom: 0.8rem;
}

.pip-inp_Date {
  padding: 0.5rem;
  background-color: $bgButtoncolor;
  border: none;
  outline: none;
  color: white;
  font-size: 0.9rem;
  border-radius: 2px;
}

.pip-inp_Date::-webkit-calendar-picker-indicator {
  background-color: white;
  padding: 3px;
  border-radius: 2px;
  color: black;
}

