$bgcolor: #8e4dfb;
$formBgcolor: white;
$font-color: black;
$bgButtoncolor: #8e4dfb;
$bgShadow: 0 4px 15px 0 #8e4dfb;
$linkcolor: #8e4dfb;
$fontpadrao: "Helvética", sans-serif;
$focus:#8E4DFB;

/* Media Query */
$min:480px;
$small:768px;
$medium:1024px;
$big:1200px;
$very-big:1201px