$bgcolor: #8e4dfb;
$formBgcolor: white;
$font-color: black;
$bgButtoncolor: #8e4dfb;
$bgShadow: 0 4px 15px 0 #8e4dfb;
$linkcolor: #8e4dfb;
$fontpadrao: "Helvética", sans-serif;
$focus:#8E4DFB;

/* Media Query */
$min:480px;
$small:768px;
$medium:1024px;
$big:1200px;
$very-big:1201px
 
    /* min 768px 
    @media only screen and(max-width: $small){ padding: 2.3rem; padding-bottom: 2.3em;}
     min 1024px 
    @media only screen and(max-width: $medium){ padding: 2.3rem; padding-bottom: 2.3em;}
     min 1200px 
    @media only screen and(max-width: $big){ padding: 2.3rem; padding-bottom: 2.3em;}
     min 1201px 
    @media only screen and(max-width: $very-big){ padding: 2.3rem; padding-bottom: 2.3em;}  */