@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
/*font-family: 'Open Sans', sans-serif;*/
:root{
--background-image: #2c2cda;
--form-bgcolor:white;
--font-textcolor:black;
--bgbutton: #3030ff;
--bgshadow:0 4px 15px 0 #4949FF;
}

body {
  overflow-y: hidden;
  background-color: var(--background-image);
}

/* functions  */
div.pip-div__Email--error{
  border-color: #e57f7f;
}

div.sucess{
  border-color:#8dde8d;
}

div.focoAtual{
  border-color: rgb(61, 61, 61);
}

div.pip-div__Senha--focus{
  border-color: black;
}



/*  */
.pip-login_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pip-form_container{
  display: flex;
  flex-direction: column;
  padding: 4.3rem;
  background-color:var(--form-bgcolor);
  padding-bottom: 2.3em;
  border-radius: 10px;
}

.pip-div_Email{
  padding-bottom: 12px;
}

.pip-label_Email {
  padding-bottom: 12px;
  font-family: 'Helvética', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: var(--font-textcolor);
}

.pip-div__Email {
  display: flex;
  position: relative;
  width: 330px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  margin-top: 4px;
  border: 1px solid rgb(211 211 211);
  border-radius: 3px;
}
.pip-div__Email .pip-inp_Email{
  padding: 0rem;
}

.pip-div__Email:hover {
  box-shadow: 0px 1px 2px rgba(172, 172, 172, 0.75);
  }

  .pip-inp_Email::placeholder{
    opacity: 0%;
  }

  .pip-inp_Email +.pip-span__Email{
    position: absolute;
    top: 11px;
    left: 2.5rem;
    font-size: 14px;
    font-family: 'Helvética', sans-serif;
    font-weight: 400;
    background-color: white;
    color: #797575;
    transition: all ease-out .2s;
    padding: 0rem .2rem;
  }

  .pip-inp_Email:focus +.pip-span__Email,.pip-inp_Email:not(:placeholder-shown) + .pip-span__Email{
    position: absolute;
    font-family: 'Helvética', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: var(--font-textcolor);
    top: -9px;
    left: 1.6rem;
    color: black;
    transition: all ease-out .2s;
  }

  .pip-inp_Senha +.pip-span__Senha{
  position: absolute;
  top: 11px;
  left: 2.5rem;
  font-size: 14px;
  font-family: 'Helvética', sans-serif;
  font-weight: 400;
  background-color: white;
  color: #797575;
  transition: all ease-out .2s;
  padding: 0rem .2rem;
  }

  .pip-inp_Senha:focus +.pip-span__Senha,.pip-inp_Senha:not(:placeholder-shown) + .pip-span__Senha{
    position: absolute;
    font-family: 'Helvética', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: var(--font-textcolor);
    top: -9px;
    left: 1.6rem;
    transition: all ease-out .2s;
  }

  .pip-inp_Senha::placeholder{
    opacity: 0%;
  }

.pip-inp_Email {
  display: flex;
  border: none;
  width: 345px;
  height: 30px;
  font-family: 'Helvética', sans-serif;
  font-weight: 400;
  font-size: 14px;
  align-self: center;
  background-color: rgb(255, 255, 255);
}

.pip-inp_Email::placeholder{
  font-size: 14px;
  font-family: 'Helvética', sans-serif;
  font-weight: 400;
}

.pip-span_Email {
  display: flex;
  align-self: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.pip-span_Email__check {
  display: flex;
  align-self: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.pip-div_Senha {
  padding-bottom: 12px;
}

.pip-label_Senha {
  font-family: 'Helvética', sans-serif;
  font-weight: 600;
  color: var(--font-textcolor);
  font-size: 15px;
  padding-bottom: 12px;
}

.pip-div__Senha {
  display: flex;
  position: relative;
  width: 330px;
  border: 1px solid rgb(211 211 211);
  border-radius: 3px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  margin-top: 4px;
}

.pip-div__Senha:hover {
box-shadow: 0px 1px 2px rgba(172, 172, 172, 0.75);
}

.pip-inp_Senha {
  display:flex;
  border: none;
  width: 345px;;
  height: 30px;
  align-self: center;
  background-color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: 'Helvética', sans-serif;
  font-weight: 400;
}

.pip-inp_Senha::placeholder{
  font-size: 14px;
  font-family: 'Helvética', sans-serif;
  font-weight: 400;
}

.pip-span_Senha {
  display: flex;
  align-self: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}


.pip-span_eyeSenha{
display: flex;
cursor: pointer;
align-self: center;
padding-right: 0.5rem;
padding-left: 0.5rem;
}

.pip-img_eyeSenha{
    width: 20px;
    opacity: 40%;
}

/* CheckBox */
.pip-div_Checkbox{
  width: 100%;
  font-family: 'Helvética', sans-serif;
  font-size: 13px;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  color: var(--font-textcolor);
  margin: .1rem 0rem .7rem 0rem;
}

.pip-span_Checkbox{
padding-left: 0.3rem;
}

.pip-label_Checkbox{
  display: flex;
}

.pip-span_ESenha{
  color: var(--font-textcolor);
}

.pip-span_ESenha:hover{
  color: #4949FF;
}

.pip-inp_Checkbox{
background-color: gray;
border-radius: 2px;
width: .9rem;
height: .9rem;
}

/* Button */
.pip-div_Btnlogin{
    display: inline-flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pip-btn_Btnlogin{
background-color: var(--bgbutton);
cursor: pointer;
font-family: 'Helvética', sans-serif;
font-weight: 600;
font-size: 16px;
color: white;
border: none;
width: 100%;
height: 2.7rem;
letter-spacing: 1px;
border-radius: 3px;
}

.pip-btn_Btnlogin:hover{
opacity: 80%;

}

/* Nova Conta */
.pip-div_NConta{
    display: inline-flex;
    justify-content: center;
    font-family: 'Helvética', sans-serif;
    font-weight: 400;
    margin: 1rem 0rem;
}

.pip-span_NConta{
  color: var(--font-textcolor);
  font-size: 16px;
}

.pip-span_NConta:hover{
  color: #9595ed;
}


/* Icons */
.icons{
  width: 24px;
}

/* Media Query */

/* Mobile S - min width */
@media only screen and (min-device-width: 320px) and (max-device-width:374px) {
  .formLogin{
    padding: 2rem;
  }
  
  .labelEmail {
    font-weight: 700;
    font-size: 14px;
  }
  
  .divSpanLabel__div {
    width: 235px;
    height: 30px;
  }

  .pip-inp_Email {
    font-size: 12px;
    height: 28px;
  }
  
  .pip-inp_Email::placeholder{
    font-size: 12px;
  }
  
  .uil-at{
    font-size: 20px;
  }

  .pip-label_Senha {
    font-weight: 700;
    font-size: 14px;
  }
  
  .pip-div__Senha {
  width: 235px;
  height: 30px;
  }
  
  
  .uil-key-skeleton-alt {
    font-size: 20px;
  }
  
  .pip-inp_Senha {
    font-size: 12px;
    height: 28px;
  }
  
  .pip-inp_Senha::placeholder{
    font-size: 12px;
  }
  
  .pip-img_eyeSenha{
      width: 20px;
  }

  .div_RCheckBox{
    width: 100%;
    font-family: 'Helvética', sans-serif;
    font-size: 12px;
    color: var(--font-textcolor);
  }
  

.pip-btn_Btnlogin{
font-family: 'Helvética', sans-serif;
font-weight: 400;
font-size: 12px;
width: 130px;
height: 35px;
}

.pip-btn_Btnlogin:hover{
  font-size: 15px;
}



/* Nova Conta */
.pip-div_NConta{
    color: var(--font-textcolor);
    padding-bottom: 12px;
}

/* Nova Conta Entra outras formas */

.pip-label_NConta{
  font-family: 'Helvética', sans-serif;
}


.divNConta_linkGoogle{
  margin-right: 26px;
  
}

.pip-span_NConta{
  color: var(--font-textcolor);
  font-size: 14px;
}

}



@media only screen and (min-device-width: 375px) and (max-device-width: 424px) {
  .formLogin{
    padding: 3rem;
  }
  
  .labelEmail {
    font-weight: 700;
    font-size: 14px;
  }
  
  .divSpanLabel__div {
    width: 240px;
    height: 35px;
  }

  .pip-inp_Email {
    font-size: 12px;
    height: 28px;
  }
  
  .pip-inp_Email::placeholder{
    font-size: 12px;
  }
  
  .uil-at{
    font-size: 20px;
  }

  .pip-label_Senha {
    font-weight: 700;
    font-size: 14px;
  }
  
  .pip-div__Senha {
    width: 240px;
    height: 35px;
  }
  
  
  .uil-key-skeleton-alt {
    font-size: 20px;
  }
  
  .pip-inp_Senha {
    font-size: 12px;
    height: 28px;
  }
  
  .pip-inp_Senha::placeholder{
    font-size: 12px;
  }
  
  .pip-img_eyeSenha{
      width: 20px;
  }

  .div_RCheckBox{
    width: 100%;
    font-family: 'Helvética', sans-serif;
    font-size: 12px;
    color: var(--font-textcolor);
  }
  

.pip-btn_Btnlogin{
font-family: 'Helvética', sans-serif;
font-weight: 400;
font-size: 14px;
width: 140px;
height: 40px;
}

.pip-btn_Btnlogin:hover{
  font-size: 14px;
}



/* Nova Conta */
.pip-div_NConta{
    color: var(--font-textcolor);
    padding-bottom: 1.1rem;
}

/* Nova Conta Entra outras formas */

.pip-label_NConta{
  font-family: 'Helvética', sans-serif;
}


.pip-span_NConta{
  color: var(--font-textcolor);
  font-size: 14px;
}
}


@media only screen and (min-device-width: 425px) and (max-device-width: 496px) {
  .formLogin{
    padding: 4rem;
  }
  
  .labelEmail {
    font-weight: 700;
    font-size: 15px;
  }
  
  .divSpanLabel__div {
    width: 260px;
    height: 40px;
  }

  .pip-inp_Email {
    font-size: 12px;
    height: 28px;
  }
  
  .pip-inp_Email::placeholder{
    font-size: 12px;
  }
  
  .uil-at{
    font-size: 20px;
  }

  .pip-label_Senha {
    font-weight: 700;
    font-size: 15px;
  }
  
  .pip-div__Senha {
    width: 260px;
    height: 40px;
  }
  
  
  .uil-key-skeleton-alt {
    font-size: 20px;
  }
  
  .pip-inp_Senha {
    font-size: 12px;
    height: 28px;
  }
  
  .pip-inp_Senha::placeholder{
    font-size: 12px;
  }
  
  .pip-img_eyeSenha{
      width: 20px;
  }

  .div_RCheckBox{
    width: 100%;
    font-family: 'Helvética', sans-serif;
    font-size: 12px;
    color: var(--font-textcolor);
  }
  

.pip-btn_Btnlogin{
font-family: 'Helvética', sans-serif;
font-weight: 400;
font-size: 14px;
width: 150px;
height: 40px;
}

.pip-btn_Btnlogin:hover{
  font-size: 18px;
}



/* Nova Conta */
.pip-div_NConta{
    color: var(--font-textcolor);
    padding-bottom: 1.1rem;
}

/* Nova Conta Entra outras formas */

.pip-label_NConta{
  font-family: 'Helvética', sans-serif;
}

.pip-span_NConta{
  color: var(--font-textcolor);
  font-size: 14px;
}
}

@media only screen and (min-device-width: 497px) and (max-device-width: 767px) {
  .formLogin{
    padding: 4rem;
  }
  
  .labelEmail {
    font-weight: 700;
    font-size: 15px;
  }
  
  .divSpanLabel__div {
    width: 290px;
    height: 40px;
  }

  .pip-inp_Email {
    font-size: 12px;
    height: 28px;
  }
  
  .pip-inp_Email::placeholder{
    font-size: 12px;
  }
  
  .uil-at{
    font-size: 20px;
  }

  .pip-label_Senha {
    font-weight: 700;
    font-size: 15px;
  }
  
  .pip-div__Senha {
    width: 290px;
    height: 40px;
  }
  
  
  .uil-key-skeleton-alt {
    font-size: 20px;
  }
  
  .pip-inp_Senha {
    font-size: 12px;
    height: 28px;
  }
  
  .pip-inp_Senha::placeholder{
    font-size: 12px;
  }
  
  .pip-img_eyeSenha{
      width: 20px;
  }

  .div_RCheckBox{
    width: 100%;
    font-family: 'Helvética', sans-serif;
    font-size: 13px;
    color: var(--font-textcolor);
  }
  

.pip-btn_Btnlogin{
font-family: 'Helvética', sans-serif;
font-weight: 400;
font-size: 14px;
width: 150px;
height: 40px;
}

.pip-btn_Btnlogin:hover{
  font-size: 18px;
}



/* Nova Conta */
.pip-div_NConta{
    color: var(--font-textcolor);
    padding-bottom: 1.1rem;
}

/* Nova Conta Entra outras formas */

.pip-label_NConta{
  font-family: 'Helvética', sans-serif;
}

.pip-span_NConta{
  color: var(--font-textcolor);
  font-size: 14px;
}
}

@media only screen and (max-device-width: 768px) {
  .text {
    font-size: 16px;
  }
}

@media only screen and (max-device-width: 1024px) {
  .text {
    font-size: 16px;
  }
}

@media only screen and (max-device-width: 1440px) {
  .text {
    font-size: 16px;
  }
}

@media only screen and (max-device-width: 2560px) {
  .text {
    font-size: 16px;
  }
}


